*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-box{
    width: 350px;
    height: 350px;
    background-color: lightblue;
    margin:auto;
    padding-top: 100px;
    margin-top: 80px;
}

.child-box{
    width: 150px;
    height: 150px;
    background-color: blue;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}